html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.vfrc-widget {
  position: relative !important;
  width: 100%;
  height: 100%;
  inset: initial;
}

.vfrc-widget--launcher {
  position: relative !important;
  top: 50% !important; /* Déplace le lanceur vers le bas à 50% de la hauteur de son parent */
  left: 50% !important; /* Déplace le lanceur vers la droite à 50% de la largeur de son parent */
  transform: translate(-50%, -50%); /* Ajuste le lanceur pour le centrer précisément */
}

.vfrc-widget--chat {
  position: fixed !important;
  border: none !important;
  max-width: none !important;
  max-height: none !important;
  top: 10% !important;
  left: 10% !important;
  width: 80% !important;
  height: 80% !important;
}

@media screen and (max-width: 768px) {
  .vfrc-widget--chat {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.vfrc-header--button {
  /* Style pour le bouton de l'en-tête, si nécessaire */
}

.vfrc-footer {
  border-top: 2px solid var(--shadows-shadow4);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
